
$main-background-color: blue;
$font-family: cursive;

%container {
    width: 80%;
    margin-left: 10%;
    height: 30vh;
    margin-top: 2px;
    background-color: $main-background-color;
}

.about-list {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-list-items {
    color: white;
    line-height: 1.5;
}

.about-main-block {
    @extend %container
}


.iframe-map {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid $main-background-color;
}

.iframe-map iframe {
    width: 100%;
}

.footer {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    background-color: $main-background-color;
    color: white;
}

